<form [formGroup]="formulario" (ngSubmit)="OnSubmit()">
	<div class="form-group col">
		<div>
			<label>Nome:</label>
			<input type="String" name="nome" ngModel formControlName="nome">
		</div>
		
		<div>
			<label>Email:</label>
			<input type="email" name="email" ngModel formControlName="email">
		</div>
	</div>
	<div class="form-group col" >
		<button type="submit" class="btn btn-danger">Salvar</button>
		<button type="reset" class="btn btn-danger">Resetar</button>
	</div>
</form>

<br>

<div class="form-group col">
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Email</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody *ngFor="let pessoa of pessoas">
			<tr>
				<td>{{pessoa.id}}</td>
				<td>{{pessoa.nome}}</td>
				<td>{{pessoa.email}}</td>
				<td><button class="btn btn" type="button" onclick="remove(sthi)">X</button></td>
			</tr>
		</tbody>
	</table>
</div>
	