<form [formGroup]="formulario" (NgSubmit)="OnSubmit()">
	<div class="col">
		<div>
			<label>Nome:</label>
			<input type="String" name="nome" ngModel formControlName="nome">
		</div>
		
		<div>
			<label>Email:</label>
			<input type="email" name="email" ngModel formControlName="email">
		</div>
		
		<div>
			<button type="submit" class="btn btn-danger">Salvar</button>
			<button class="btn btn-danger">Resetar</button>
		</div>
	</div>
</form>

<br>

<div class="col">
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Nome</th>
				<th>Email</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody *ngFor="let pessoa of pessoas">
			<tr>
				<td>{{pessoa.nome}}</td>
				<td>{{pessoa.email}}</td>
				<td><button class="btn btn" type="button" onclick="remove(sthi)">X</button></td>
			</tr>
		</tbody>
	</table>
</div>
	