<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<dt class="form-group col ">
  Lista de Tarefas
</dt>


<form [formGroup]="formularioTarefas">

  <div class="form-group col">

    <div>
      <label for="nome">Nome:</label>
      <input type="String" id="nome" class="form-control" formControlName="nome" placeholder="Nome da Tarefa">
    </div>

  </div>

  <div class="form-row col">

    <div class="col">
      <label>Data de Abertura:</label>
      <input type="date" class="form-control" formControlName="dataInicio">
    </div>
    <div class="col">
      <label>Data de Fechamento:</label>
      <input type="date" class="form-control" formControlName="dataFim">
    </div>

  </div>

  <div class="form-group col">

    <label for="descricao" for="descricao">Descrição:</label>
    <textarea id="descricao" type="text" class="form-control" formControlName="descricao" rows="3"></textarea>

  </div>

  <div class="form-row col">
    <div class="col-10"></div>
    <div class="col-1">
      <button type="button" (click)="OnSubmit()" class="btn btn-primary">Salvar</button>
    </div>
    <div class="col-1">
        <button type="reset" class="btn btn-primary">Resetar</button>
    </div>
  </div>

</form>

<br>

<div class="form-group col">
  <table class="table table-striped">
    <thead class="bg-primary">
      <tr class="text-white">
        <th>Id</th>
        <th>Nome</th>
        <th>Descricão</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody *ngFor="let tarefa of tarefas">
      <tr>
        <td>{{tarefa.id}}</td>
        <td>{{tarefa.nome}}</td>
        <td>{{tarefa.descricao}}</td>
        <td>
          <button class="btn btn" type="button" onclick="remove(sthi)">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>