<form [formGroup]="formularioTarefas" (ngSubmit)="OnSubmit()">

  <div class="form-group col">

    <div>
      <label for="nome">Nome:</label>
      <input type="String" id="nome" formControlName="nome" placeholder="Nome da Tarefa">
    </div>
    
  </div>

  <div class="form-group col">

      <label>Data:</label>
      <input type="date" formControlName="dataInicio">
      <label>até</label>
      <input type="date" formControlName="dataFim">
      
  </div>

    <div class="form-group col">
      <label for="descricao">Descrição:</label>
      <input id="descricao" type="text" formControlName="descricao">
    </div>
    
    <div class="col">
      <button type="submit" class="btn btn-danger ">Salvar</button>
      <button type="reset" class="btn btn-danger ">Resetar</button>
    </div>

</form>

<br>

<div class="form-group col">
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Descricão</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody *ngFor="let tarefa of tarefas">
			<tr>
				<td>{{tarefa.id}}</td>
				<td>{{tarefa.nome}}</td>
				<td>{{tarefa.descricao}}</td>
				<td><button class="btn btn" type="button" onclick="remove(sthi)">X</button></td>
			</tr>
		</tbody>
	</table>
</div>